* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: rgb(8, 7, 7);

  }
  .wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 22;
  }
  .container {
    width: 100%;
    background-color: #302728;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
    position: relative;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }
 /* .container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    z-index: -1;
    top: -10%;
    left: 10%;
  }*/
  .container p {
    color: #fdd8d8;
    line-height: 2;
    font-size: 18px;
  }
  .container h3 {
    color: #ffffff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
  }
  .container button {
    height: 55px;
    margin: 5px;
    width: 150px;
    background: rgba(240, 46, 170, 0.4);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    border: solid #404c5d 1px;
    font-size: 17px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  }
  
  button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }



/*
  background-image: url(bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3000px;


